.custom-header {
  width: 100%;
  height: 60px;
  background: white;  /* Fondo blanco limpio */
  border-bottom: 1px solid #ddd; /* Línea sutil abajo */
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.05); /* Sombra muy suave */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom-header .logo {
  height: 60px; /* Logo proporcional */
  object-fit: contain;
}

.custom-header .btn-outline-primary {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.25rem 0.8rem;
  border-radius: 20px; /* Botón redondeado */
  transition: all 0.3s ease;
}

.custom-header .btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}


.carousel-img {
  max-height: 1000px;
  object-fit: cover;
  object-position: 40% 23%; /* <-- Ajusta esta línea */
}
.carousel-img-eve{
  max-height: 1000px;
  object-fit: cover;
  object-position: 40% 10%; /* <-- Ajusta esta línea */
}
.carousel-img-josy{
  max-height: 1000px;
  object-fit: cover;
  object-position: 40% 18%; /* <-- Ajusta esta línea */
}

.image-overlay-container {
  position: relative;
  width: 100%;
  height: 100%; /* ✅ Añade esta línea */
}


/* La capa negra encima de la imagen */
.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* ← opacidad ajustable */
  z-index: 1;
}

/* Asegúrate de que el texto esté encima de la imagen y la capa */
.carousel-caption {
  position: absolute;
  z-index: 2;
}


/* Ajustes para celulares */
@media (max-width: 768px) {
  .carousel-img,
  .carousel-img-eve,
  .carousel-img-josy {
    max-height: 300px; /* o lo que consideres adecuado */
    object-position: center center;
  }

  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.4); /* Opcional para dar contraste */
    border-radius: 10px;
  }
}