/* Fuentes y reset */
* {
    font-family: 'Cursive', lucida console;
    background-color:#dae3ed;
}

body {
}

/* Hero section */
.hero {
    background-image: url("Logo.jpg");
    /*background: linear-gradient(to right, #0d6efd, #00bfff);*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50% 10%;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(1.05);
}